.contenedorVentaReporte {
    box-shadow: 1px 1px 1px 1px rgb(166 166 166 / 60%);
    padding: .20rem .25rem;
    background-color: var(--bg_footer);
    line-height: 13px;
}

.contenedorDatos {
    display: flex;
    justify-content: space-between;
}

.labelData {
    color: var(--main-a-text-color);
    font-weight: 500;
}

.headProducts {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: .5rem 0;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    padding: .3rem;
    line-height: 20px;
    font-weight: 500;
}

.itemProducto {
    text-align: right;
    margin: .5rem 1rem;
    color: var(--main-text-color);
}

.contenedorResumen {
    margin: .5rem 1rem;
}

.contenedorResumen > div > p {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    height: 1rem;
}

.contenedorResumen > div > p > .labelData {
    /* border: 1px solid green; */
    width: 75%;
    height: 100%;
    line-height: 1rem;
    text-align: right;
}

.contenedorResumen > div > p > .inputData {
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    line-height: 1rem;
    text-align: right;
}

/* Tablets y Laptops*/
@media screen and (min-width: 600px) { 

    .contenedorVentaReporte {
        line-height: 11px;
    }

    .contenedorVentaReporte > div > ul {
        line-height: 8px;
    }
    
    .headProducts {
        font-size: 1rem;
    }  
}