.contenedorPrincipal {
    /* gap: 1rem; */
    padding: 0 .5rem;
}

.tituloCompras{
    padding: 1rem 0 .4rem 0;
    color: var(--second-a-text-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.infoComprasContainer{
    border: 1px solid var(--second-a-text-color);
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 20px;
}

.imgCompras{
    width: 50px;
    left: 35px;
    top: 190px;
    position: absolute;
}

.pFraseCompras{
    margin-left:3.3rem;
}

.spanCompras{
    color: var(--main-a-text-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.spanFraseCompras{
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: initial;
}

.buttonsComprasContainer{
    /* border: 1px solid blueviolet; */
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-around;
}

.comprarPedido,
.solicitarLlenado,
.historialCompras {
  width: auto;
  color: var(--second-text-color);
  padding: 0.6rem .7rem;
  background-color: var(--button-main-bg);
  border-color: var(--button-main-bg);
  cursor: pointer;
  font-size: .8rem;
  border: none;
  color: var(second-text-color);
  border-radius: 8px;
  font-weight: 500;
}

.comprarPedido{
    background-color: var(--main-a-text-color);
}

.historialCompras{
    background-color: var(--main-bg-color);
    border: 2px solid var(--button-main-bg);
    color: var(--main-text-color);
}

.comprarPedido:hover,
.solicitarLlenado:hover,
.historialCompras:hover{
  opacity: 0.9;
  border-radius: 40px;
}

.leyendaCompras{
    text-align: center;
    /* padding: 2rem; */
    font-size: 2rem;
    color: var(--second-a-text-color);
}

.pieCompras{
    /* text-align: center; */
    font-size: .8rem;
    margin: 4rem 0 2rem 0;
}

.seccionSpinner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    margin-top: 1rem;
}


/************************************************************/
/**************Tablets --> 600px + *************/
/************************************************************/
/************************************************************/
@media screen and (min-width: 600px) and (max-width: 1023px) {
    #miscomprasContainer{
        padding: 0 2rem 0 3.5rem;
    }
    
    .tituloCompras{
        font-size: 1.6rem;
        font-weight: 600;
    }
    
    .infoComprasContainer{
        border: 1.5px solid var(--second-a-text-color);
        padding: 20px;
        font-size: 1.5rem;
        border-radius: 25px;
        width: 600px;
    }
    
    .imgCompras{
        width: 80px;            
        left: 100px;
        top: 190px;
    }
    
    .pFraseCompras{
        margin-left: 7rem;
    }
    
    .spanCompras{
        font-size: 2rem;        
    }
    
    .spanFraseCompras{
        font-size: 1.7rem;
    }
    
    .buttonsComprasContainer{
        margin: 2rem 0;
        width: 600px;
    }
    
    .comprarPedido,
    .solicitarLlenado,
    .historialCompras {
      padding: 1rem 1.2rem;
      font-size: 1.2rem;
      border-radius: 10px;
      font-weight: 600;
    }
    
    .historialCompras{
        border: 2.5px solid var(--button-main-bg);
    }
    
    .comprarPedido:hover,
    .solicitarLlenado:hover,
    .historialCompras:hover{
      border-radius: 50px;
    }
    
    .leyendaCompras{
        padding: 1rem;
        margin-bottom: 2rem;
        font-size: 2.8rem;
        width: 600px;
    }
    
    .pieCompras{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
        width: 600px;
    }    
}

/************************************************************/
/**************Laptops/Computadoras --> 1024px + *************/
/************************************************************/
/************************************************************/

@media screen and (min-width: 1024px){
    #miscomprasContainer{
        padding: 0 8rem;
    }
    
    .tituloCompras{
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .infoComprasContainer{
        border: 2px solid var(--second-a-text-color);
        padding: 25px;
        font-size: 1.7rem;
        border-radius: 30px;
        width: 650px;
    }
    
    .imgCompras{
        width: 100px;            
        left: 355px;
        top: 215px;
    }
    
    .pFraseCompras{
        margin-left: 8rem;
    }
    
    .spanCompras{
        font-size: 2rem;
    }
    
    .spanFraseCompras{
        font-size: 1.7rem;
    }
    
    .buttonsComprasContainer{
        margin: 2rem 0;
        width: 650px;
    }
    
    .comprarPedido,
    .solicitarLlenado,
    .historialCompras {
      padding: 1rem 1.2rem;
      font-size: 1.2rem;
      border-radius: 10px;
      font-weight: 600;
    }
    
    .historialCompras{
        border: 3px solid var(--button-main-bg);
    }
    
    .comprarPedido:hover,
    .solicitarLlenado:hover,
    .historialCompras:hover{
      border-radius: 60px;
    }
    
    .leyendaCompras{
        padding: 1rem;
        margin-bottom: 2rem;
        font-size: 3rem;
        width: 650px;
    }
    
    .pieCompras{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
        width: 650px;
    }   
}