.contenedorReportePorCliente {
    display: grid;
    grid-template: 
    "barraBusqueda" auto
    "cuerpoReporte" 1fr;
    max-height: 400px;
}

.searchContainer{
    grid-area: barraBusqueda;
}

.contenedorCuerpoReporte {
    grid-area: cuerpoReporte;
    padding: .3rem .5rem;
    overflow: hidden;
    overflow-y: auto;
}

.contenedorCuerpoReporte > ul :not(:last-child) {
    margin-bottom: .8rem;
}

/* Tablets y Laptops*/
@media screen and (min-width: 600px) { 
    .contenedorReportePorCliente {
        grid-template: 
        "barraBusqueda" auto
        "cuerpoReporte" 220px;
    }

    .searchContainer {
        width: 100%;
    }

    .contenedorCuerpoReporte > ul { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: .7rem;        
    }
}