.mainSection {
    margin: -20px -15px;
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    grid-template:
        "background information" 100% / .6fr .4fr;
}

.mainSection__backgroundContainer {
    grid-area: "background";
}

.backgroundContainer_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainSection__information {
    grid-area: "information";
    display: grid;
    grid-template:
        "information_slogan" 20%
        "information_iconoWP" 60%
        "information_footer" 10% / 1fr;
}

.information_slogan{
    grid-area: "information_slogan";
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
}

.information_iconoWP {
    grid-area: "information_iconoWP";
    display: flex;
}

.information_iconoWP > div {
    padding: .5rem;
    width: 60%;
    line-height: 20px;
}

.information_iconoWP span {
    font-weight: 700;
    color: var(--second-a-text-color);
}

.information_iconoWP > figure {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.information_iconoWP > figure a {
    color: var(--second-a-text-color);
    text-decoration: none;
    transition: all .25s ease;
    touch-action: manipulation;
}

.information_iconoWP > figure img {
    -webkit-filter: drop-shadow(0 1px 18px #dcdcdc80);
    filter: drop-shadow(0 1px 18px #dcdcdc80);
    margin-bottom: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.information_iconoWP > figure p {
    font-weight: 900;
    color: var(--main-text-color);
}

.information_iconoWP > figure a:hover {
    opacity: 0.8;
    transform: scale(1.2);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.information_footer {
    grid-area: "information_footer";
    width: 100%;
}

.footer_img {
    width: 100%;
    object-fit: cover;
}


/* CELULARES */
@media screen and (max-width: 1024px) {
    .mainSection {
        margin: 0 0;
        width: 100%;
        height: calc(100vh - 100px);
        grid-template:
            "information" 40% 
            "background" 60% / 1fr;
    }
    
    .mainSection__backgroundContainer {
        grid-area: "background";
    }
    
    .mainSection__information {
        grid-template:
            "information_slogan" 13%
            "information_iconoWP" 67%
            "information_footer" 10% / 1fr;
    }
    
    .information_slogan{
        grid-area: "information_slogan";
        margin: 0;
        padding-bottom: .3rem;
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        align-items: flex-end;
    }
    
    .information_iconoWP {
        padding-top: .2rem;
    }
    
    .information_iconoWP > div {
        padding: .2rem;
        width: 70%;
        line-height: 19px;
    }
    
    .information_iconoWP span {
        font-weight: 500;
    }
    
    .information_iconoWP > figure {
        padding: .3rem;
        width: 30%;
    }
    
    .information_iconoWP > figure img {
        margin-bottom: 2px;
    }
    
    .information_iconoWP > figure p {
        font-weight: 700;
        font-size: .8rem;
    }
}